/* Reset CSS */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}
  
body {
    background-color: #1c1e21;
    color: #ffffff;
}

h1, h2, h3, h4, h5 {
    color: #18d26e;
}